body {
	background-image: url(../assets/backgroundimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

fieldset {
	width: 100%;
	max-width: 600px;
	margin: 150px auto 200px auto;
	height: 800px;
}

form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 1fr);
	background-color: rgba(255, 255, 255, 0.562);
}

.login {
	text-align: center;
	height: 100px;
	grid-row: 8 / 8;
	grid-column: 1 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

